<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="sConn" connectionString="Data Source=SQL5047.site4now.net;Initial Catalog=DB_A57228_icompe;User Id=DB_A57228_icompe_admin;Password=iCom2018.!;" providerName="System.Data.SqlClient" />
    <!--
    <add name="sConn" connectionString="Data Source=CASITAPLY\SQLEXPRESS;Initial Catalog=iComPE;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="104857600" />
  
<pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
</configuration>
