.menu li a {
    display: block;
    padding: .7rem 1rem;
    line-height: 1;
    font-weight: bold;
}

.menu li a:hover {
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
    text-transform: uppercase;
}

h5-1 {
    display: block;
    font-size: 1.4em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

a:hover {
    color: #000000;
}

.telefono {
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: bold;
    display: block;
}

.redessociales {
    display: inline-table;
    padding: 10px 0 0 0;
}

.social-icon-button {
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background: none;
}

.social-icon-button+.social-icon-button {
    margin-left: 0.25rem;
}

.social-icon-button .fa {
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    line-height: 3.6rem;
    transition: all 0.3s ease-in-out;
}

.social-icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}

.social-icon-button:hover .fa {
    color: #fefefe;
}

.social-icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
}

.social-icon-button.youtube {
    color: #dd4b39;
}

.social-icon-button.youtube span {
    background-color: #dd4b39;
}

.social-icon-button.twitter {
    color: #55acee;
}

.social-icon-button.twitter span {
    background-color: #55acee;
}

.social-icon-button.facebook {
    color: #4267b2;
}

.social-icon-button.facebook span {
    background-color: #4267b2;
}

.social-icon-button.instagram {
    color: #e23962;
}

.social-icon-button.instagram span {
    background-color: #e23962;
}